__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

.env
.DS_Store

indexes/
logs/
models/
evaluation/results/

data/raw/*
data/processed/*
!data/processed/sample_patent.txt

notebooks/.ipynb_checkpoints/
